@import "../../vars.css";

.container {
  margin-top: 76px;
  color: var(--color-text);
  margin-left: 10%;
  margin-right: 10%;
}

.title {
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.projects {
  margin-top: 37px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 100%;
}

.projectsSlider {
    width: 100%; /* Adjust the width as needed */
    margin: 0 auto;
  }
  
  /* .projectCardWrapper {
    margin: 20px;
  
  } */

  .projectCardWrapper {
    width: calc(100% / 3); /* Default width for larger screens with 3 cards */
  
    @media screen and (max-width: 830px) {
      width: calc(100% / 2); /* Adjust width for screens <= 830px with 2 cards */
    }
  
    @media screen and (max-width: 600px) {
      width: 100%; /* Adjust width for screens <= 600px with 1 card */
    }
  }
  
  
  